@model IEnumerable<BoitMail.Models.ListMail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mail.to)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail._object)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail.body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datemail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Mail.to)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mail._object)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Mail.body)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.datemail)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
