@model BoitMail.Models.Mail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mail</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
              <input name="Id" value="0" style="display:none"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.to, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.to, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.to, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._object, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._object, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model._object, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Envoiye" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button name="draft" value="draft" class="btn btn-default"> Draft </button>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <button name="boite" value="boite" class="btn btn-default"> boite </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index" ,"ListMails")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
